.m-1 {
  margin: 1rem; }

.mx-1 {
  margin: 0 1rem; }

.my-1 {
  margin: 1rem 0; }

.p-1 {
  padding: 1rem; }

.px-1 {
  padding: 0 1rem; }

.py-1 {
  padding: 1rem 0; }

.m-2 {
  margin: 2rem; }

.mx-2 {
  margin: 0 2rem; }

.my-2 {
  margin: 2rem 0; }

.p-2 {
  padding: 2rem; }

.px-2 {
  padding: 0 2rem; }

.py-2 {
  padding: 2rem 0; }

.m-3 {
  margin: 3rem; }

.mx-3 {
  margin: 0 3rem; }

.my-3 {
  margin: 3rem 0; }

.p-3 {
  padding: 3rem; }

.px-3 {
  padding: 0 3rem; }

.py-3 {
  padding: 3rem 0; }

.m-4 {
  margin: 4rem; }

.mx-4 {
  margin: 0 4rem; }

.my-4 {
  margin: 4rem 0; }

.p-4 {
  padding: 4rem; }

.px-4 {
  padding: 0 4rem; }

.py-4 {
  padding: 4rem 0; }

.m-5 {
  margin: 5rem; }

.mx-5 {
  margin: 0 5rem; }

.my-5 {
  margin: 5rem 0; }

.p-5 {
  padding: 5rem; }

.px-5 {
  padding: 0 5rem; }

.py-5 {
  padding: 5rem 0; }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem; }

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  user-select: none; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  user-select: none; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  user-select: none; }

.text-primary {
  color: #3266d9;
  user-select: none; }

.bg-primary {
  background-color: #3266d9;
  color: #eee; }

.bg-dark {
  background-color: #333;
  color: #eee; }

.bg-light {
  background-color: #eee;
  color: #333;
  border: #ccc 1px solid; }

.bg-danger {
  background-color: #dc3545;
  color: #eee; }

.bg-success {
  background-color: #28a745;
  color: #eee; }

.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid; }

.btn {
  display: inline-block;
  background: #eee;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  outline: none; }
  .btn:hover {
    background: #666666;
    transition: background-color 0.3s, color 0.3s;
    color: #eee; }
  .btn.btn-primary {
    background-color: #3266d9;
    color: #eee; }
    .btn.btn-primary:hover {
      background: #4876dd;
      transition: background-color 0.3s; }
  .btn.btn-dark {
    background-color: #333;
    color: #eee; }
    .btn.btn-dark:hover {
      background: #404040;
      transition: background-color 0.3s; }
  .btn.btn-danger {
    background-color: #dc3545;
    color: #eee; }
    .btn.btn-danger:hover {
      background: #e04b59;
      transition: background-color 0.3s; }
  .btn.btn-success {
    background-color: #28a745;
    color: #eee; }
    .btn.btn-success:hover {
      background: #2dbc4e;
      transition: background-color 0.3s; }

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.8;
  border-radius: 5px;
  background: #eee;
  color: #333; }
  .alert.alert-primary {
    background-color: #3266d9;
    color: #eee; }
  .alert.alert-dark {
    background-color: #333;
    color: #eee; }
  .alert.alert-success {
    background-color: #28a745;
    color: #eee; }
  .alert.alert-danger {
    background-color: #dc3545;
    color: #eee; }

i.fa-twitter {
  color: #38a1f3; }

i.fa-facebook {
  color: #3b5998; }

i.fa-instagram {
  color: #3f729b; }

i.fa-youtube {
  color: #c4302b; }

i.fa-linkedin {
  color: #0077b5; }

.round-img {
  border-radius: 50%; }

.dark-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.table td,
.table th {
  padding: 1rem;
  text-align: left;
  background-color: #eee; }

.table th {
  background-color: #3266d9;
  color: #eee; }

.form-group {
  margin: 1.2rem 0; }

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  font: inherit;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; }

.form input[type='submit'] {
  font: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #eee;
  color: #333; }

a {
  text-decoration: none;
  color: #3266d9; }

ul {
  list-style: none; }

img {
  width: 100%; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #3266d9;
  opacity: 0.9; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #eee;
    padding: 0.45rem;
    margin: 0 0.25rem; }
    .navbar a:hover {
      color: #4876dd; }

.landing {
  position: relative;
  background: url("../img/laptop3.jpg") no-repeat center center/cover;
  height: 100vh; }
  .landing-inner {
    color: #eee;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center; }

.profile-grid {
  display: grid;
  grid-gap: 1rem; }
  .profile-grid .profile-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .profile-grid .profile-top img {
      width: 250px; }
    .profile-grid .profile-top .icons a {
      color: #eee; }
      .profile-grid .profile-top .icons a i {
        margin: 0 0.5rem; }
  .profile-grid .profile-about {
    text-align: center; }
    .profile-grid .profile-about .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .profile-grid .profile-about hr {
      border-color: #fff; }
  .profile-grid .profile-edu,
  .profile-grid .profile-exp {
    display: flex;
    flex-direction: column; }

@media (max-width: 500px) {
  .hide-sm {
    display: none; }
  .container {
    margin-top: 8rem; }
  .x-large {
    font-size: 3rem; }
  .large {
    font-size: 2rem; }
  .lead {
    font-size: 1rem; }
  .navbar {
    display: block;
    text-align: center; }
    .navbar ul {
      text-align: center;
      justify-content: center; }
    .navbar h1 {
      margin-bottom: 1rem; }
  .container {
    padding: 0 1rem; }
  .profile-about .skills {
    flex-direction: column; }
  .profile-top img {
    width: 150px !important; }
  .profile-top .icons a i {
    margin: 0 !important; } }
